name: Publish Github release

on:
  push:
    tags:
      - 'v*-release'


permissions:
  contents: write


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check Environment Variables
        run: env

      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build the mod
        run: ./gradlew --no-daemon build
      
      - name: Create & Upload release
        shell: bash
        env:
          GH_TOKEN: ${{ github.GH_PAT }}
        run: |
          gh release create --generate-notes ${{ github.ref }} ./build/libs/*
        